#timer-main
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#timer-main h1
{
    font-size: 50px;
    color: rgb(174, 93, 255);
    margin-top: 20px;
}

#timer-main h2
{
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.titles
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 200px;
    border-radius: 50%;
}

.timer h3
{
    font-size: 120px;
    color: rgb(174, 93, 255);
}

.minutes-container, .seconds-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.minutes-container label, .seconds-container label
{
    margin-bottom: 5px;
    letter-spacing: 1px;
    text-align: center;
}

.time-input
{
    background-color: #212121;
    border: 1px solid #323232;
    padding: 7px 20px;
    border-radius: 5px;
    width: 100px;
    outline: none;
    color: white;
    margin: 5px;
    text-align: center;
}

.time-input:disabled
{
    color: gray;
}

.exercise-timer-inputs
{
    display: flex;
}

.exercise-align
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.exercise-timer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
}

.inputs-timer
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs-timer h3
{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
    color: rgb(174, 93, 255);
    margin-top: 15px;
}

.inputs-timer button
{
    background-color: #212121;
    border: 1px solid #323232;
    color: white;
    width: 125px;
    line-height: 30px;
    border-radius: 5px;
    transition: .1s;
}

.inputs-timer button:hover
{
    cursor: pointer;
    background-color: #434343;
}

.buttons-timer
{
    margin-top: 15px;
    display: flex;
    width: 300px;
    justify-content: center;
    flex-wrap: wrap;
}

.buttons-timer button
{
    margin: 0 5px;
}

@media screen and (max-width: 670px) {
    #timer-main
    {
        justify-content: flex-start;
    }

    .timer
    {
        font-size: 120px;
    }

    .timer h3
    {
        font-size: 80px;
    }

    .exercise-timer
    {
        margin: 0;
    }
}